doctype html 
doctype html
html
    head
        meta(charset="utf-8")/
        title Nombres 
    body 
        div 
            form(method="post" action ="/form")
                div 
                    label(for="nombre") Nombre: 
                    p 
                        input(type="text" placeholder="Escribe el nombre" name="nombre")

                div 
                    label(for="edad") Edad: 
                    p 
                        input(type="text" placeholder="Escribe la edad" name="edad")

                div 
                    label(for="profesion") Profesion: 
                    p 
                        input(type="text" placeholder="Escribe la profesion" name="profesion")

                div 
                    button(type="submit") Guardar